@using System.Linq
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using CourseBooking.Models
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<BookingEntity>

@{
    DotNetNuke.Framework.JavaScriptLibraries.JavaScript.RequestRegistration(CommonJs.jQuery); // Keep for copy button
    // DotNetNuke.Framework.JavaScriptLibraries.JavaScript.RequestRegistration(CommonJs.jQueryUI); // Likely not needed here
    // DotNetNuke.Framework.ServicesFramework.Instance.RequestAjaxAntiForgerySupport(); // Not needed for display

    var localStartTime = Model.CourseSchedule.StartTime.ToLocalTime();
    var localEndTime = Model.CourseSchedule.EndTime.ToLocalTime();

    // No AJAX check needed here as it's the destination of a redirect
    // Layout = "~/DesktopModules/MVC/CourseBooking/Views/Shared/_Layout.cshtml"; // Should use default layout
}

<div class="booking-confirmation">

    @* ADDED: Display TempData messages *@
    @if (TempData["ErrorMessage"] != null) @* Display error if redirected here unexpectedly *@
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    @if (TempData["SuccessMessage"] != null) @* Display success message from Register action *@
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @* END ADDED *@

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-check-circle"></i> Foglalás visszaigazolása</h3>
        </div>
        <div class="panel-body">
            <h4>Köszönjük a foglalását!</h4>
            <p>Az Ön foglalása <strong>@Model.CourseSchedule.CoursePlan.Name</strong> tanfolyamra sikeresen rögzítésre került.</p>

            <div class="booking-details">
                @* ... (Booking details DL lists remain the same) ... *@
                <div class="row">
                     <div class="col-md-6">
                         <h5>Tanfolyam adatok</h5>
                         <dl class="dl-horizontal">
                             <dt>Tanfolyam neve:</dt>
                             <dd>@Model.CourseSchedule.CoursePlan.Name</dd>
                             <dt>Kategória:</dt>
                             <dd>@Model.CourseSchedule.CoursePlan.CourseCategory</dd>
                             <dt>Dátum:</dt>
                             <dd>@localStartTime.ToString("yyyy. MMMM d.")</dd>
                             <dt>Időpont:</dt>
                             <dd>@localStartTime.ToString("HH:mm") - @localEndTime.ToString("HH:mm")</dd>
                             <dt>Időtartam:</dt>
                             <dd>@Model.CourseSchedule.CoursePlan.DurationHours óra</dd>
                         </dl>
                     </div>
                     <div class="col-md-6">
                         <h5>Foglalási adatok</h5>
                         <dl class="dl-horizontal">
                             <dt>Foglalási azonosító:</dt>
                             <dd>@Model.ID</dd>
                             <dt>Foglalás ideje:</dt>
                             <dd>@Model.BookingTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</dd>
                             <dt>Kupon kód:</dt>
                             <dd>
                                 <div class="voucher-container input-group" style="max-width: 250px;"> @* Use input-group for layout *@
                                     <span id="voucherCode" class="voucher-code form-control" style="background-color:#eee;">@Model.VoucherCode</span>
                                     <span class="input-group-btn">
                                         <button type="button" id="copyVoucher" class="btn btn-default" title="Másolás a vágólapra">
                                             <i class="fa fa-copy"></i>
                                         </button>
                                     </span>
                                 </div>
                             </dd>
                             <dt>Fizetési állapot:</dt>
                             <dd>@Model.PaymentStatus</dd>
                         </dl>
                     </div>
                 </div>
            </div>

            <div class="booking-instructions">
                @* ... (Instructions remain the same) ... *@
                 <div class="alert alert-info">
                    <h5><i class="fa fa-info-circle"></i> Fontos információk</h5>
                    <ul>
                        <li>A kupon kódot a tanfolyamon való részvételkor kell felmutatni.</li>
                        <li>A foglalást legkésőbb 24 órával a tanfolyam kezdete előtt lehet lemondani.</li>
                        <li>A foglalásról visszaigazoló e-mailt küldtünk a megadott e-mail címre.</li>
                        <li>Kérdés esetén keresse ügyfélszolgálatunkat.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="confirmation-actions">
        @* Link to MyBookings - not a modal anymore *@
        <a href="@Url.Action("MyBookings")" class="btn btn-primary">
            <i class="fa fa-list"></i> Foglalásaim megtekintése
        </a>

        <a href="@Url.Action("Index")" class="btn btn-default">
            <i class="fa fa-calendar"></i> Vissza a naptárhoz
        </a>
        @* No need for modal-close button anymore *@
    </div>
</div>

@{
    // Register stylesheet if not globally registered
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/CourseBooking/module.css");
}

@* Keep minimal script for copy voucher *@
<script type="text/javascript">
    $(document).ready(function () {
        // Copy voucher code button
        $("#copyVoucher").click(function () {
            var voucherText = $("#voucherCode").text();
            if(!voucherText) return;

            var tempInput = $("<input>");
            $("body").append(tempInput);
            tempInput.val(voucherText).select();
            try {
                 document.execCommand("copy");
                 var $btn = $(this);
                 var originalHtml = $btn.html();
                 $btn.html('<i class="fa fa-check"></i>').prop('disabled', true);
                 setTimeout(function () { $btn.html(originalHtml).prop('disabled', false); }, 1500);
            } catch (e) {
                 console.error("Failed to copy voucher code:", e);
                 alert("Másolás sikertelen.");
            }
            tempInput.remove();
        });
    });
    
</script>