@using System.Linq
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using CourseBooking.Models
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<BookingEntity>

@{
    DotNetNuke.Framework.JavaScriptLibraries.JavaScript.RequestRegistration(CommonJs.jQuery);
    DotNetNuke.Framework.JavaScriptLibraries.JavaScript.RequestRegistration(CommonJs.jQueryUI);
    DotNetNuke.Framework.ServicesFramework.Instance.RequestAjaxAntiForgerySupport();

    var localStartTime = Model.CourseSchedule.StartTime.ToLocalTime();
    var localEndTime = Model.CourseSchedule.EndTime.ToLocalTime();
    
    var isAjax = Request.QueryString["isAjax"] == "true" || Request.IsAjaxRequest() || ViewBag.IsAjaxRequest == true;
    
    // If this is a popup, we don't need the wrapper layout
    if (isAjax)
    {
        Layout = null;
    }
}

<div class="booking-confirmation">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-check-circle"></i> Foglalás visszaigazolása</h3>
        </div>
        <div class="panel-body">
            <h4>Köszönjük a foglalását!</h4>
            <p>Az Ön foglalása <strong>@Model.CourseSchedule.CoursePlan.Name</strong> tanfolyamra sikeresen rögzítésre került.</p>

            <div class="booking-details">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Tanfolyam adatok</h5>
                        <dl class="dl-horizontal">
                            <dt>Tanfolyam neve:</dt>
                            <dd>@Model.CourseSchedule.CoursePlan.Name</dd>

                            <dt>Kategória:</dt>
                            <dd>@Model.CourseSchedule.CoursePlan.CourseCategory</dd>

                            <dt>Dátum:</dt>
                            <dd>@localStartTime.ToString("yyyy. MMMM d.")</dd>

                            <dt>Időpont:</dt>
                            <dd>@localStartTime.ToString("HH:mm") - @localEndTime.ToString("HH:mm")</dd>

                            <dt>Időtartam:</dt>
                            <dd>@Model.CourseSchedule.CoursePlan.DurationHours óra</dd>
                        </dl>
                    </div>

                    <div class="col-md-6">
                        <h5>Foglalási adatok</h5>
                        <dl class="dl-horizontal">
                            <dt>Foglalási azonosító:</dt>
                            <dd>@Model.ID</dd>

                            <dt>Foglalás ideje:</dt>
                            <dd>@Model.BookingTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</dd>

                            <dt>Kupon kód:</dt>
                            <dd>
                                <div class="voucher-container">
                                    <span id="voucherCode" class="voucher-code">@Model.VoucherCode</span>
                                    <button id="copyVoucher" class="btn btn-xs btn-default" title="Másolás a vágólapra">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                            </dd>

                            <dt>Fizetési állapot:</dt>
                            <dd>@Model.PaymentStatus</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="booking-instructions">
                <div class="alert alert-info">
                    <h5><i class="fa fa-info-circle"></i> Fontos információk</h5>
                    <ul>
                        <li>A kupon kódot a tanfolyamon való részvételkor kell felmutatni.</li>
                        <li>A foglalást legkésőbb 24 órával a tanfolyam kezdete előtt lehet lemondani.</li>
                        <li>A foglalásról visszaigazoló e-mailt küldtünk a megadott e-mail címre.</li>
                        <li>Kérdés esetén keresse ügyfélszolgálatunkat.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="confirmation-actions">
        @if (!Model.IsCancelled && Model.CourseSchedule.StartTime > DateTime.UtcNow.AddHours(24))
        {
            <form action="@Url.Action("Cancel", "Calendar", new { id = Model.ID })" method="post" 
                  class="d-inline cancel-form" data-ajax="true" data-success-callback="onCancelSuccess" 
                  onsubmit="return confirm('Biztosan lemondja a foglalást?');">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-times"></i> Foglalás lemondása
                </button>
            </form>
        }

        <a href="@Url.Action("MyBookings")" class="btn btn-primary view-my-bookings" data-modal="true" data-modal-title="Foglalásaim">
            <i class="fa fa-list"></i> Foglalásaim megtekintése
        </a>

        <a href="@Url.Action("Index")" class="btn btn-default return-to-calendar">
            <i class="fa fa-calendar"></i> Vissza a naptárhoz
        </a>
        
        @if (isAjax)
        {
            <button type="button" class="btn btn-default modal-close">Bezárás</button>
        }
    </div>
</div>

@{
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/CourseBooking/module.css");
}

<script type="text/javascript">
    $(document).ready(function () {
        // Copy voucher code button
        $("#copyVoucher").click(function () {
            var voucherText = $("#voucherCode").text();

            // Create temporary element
            var tempInput = $("<input>");
            $("body").append(tempInput);
            tempInput.val(voucherText).select();

            // Execute copy command
            document.execCommand("copy");
            tempInput.remove();

            // Show success message
            var $btn = $(this);
            var originalHtml = $btn.html();
            $btn.html('<i class="fa fa-check"></i>');

            setTimeout(function () {
                $btn.html(originalHtml);
            }, 1500);
        });
        
        // View my bookings button
        $(".view-my-bookings").on("click", function(e) {
            e.preventDefault();
            var url = $(this).attr("href");
            var title = $(this).data("modal-title") || "Foglalásaim";
            
            // Check if we're in a modal already
            if (window.parent && window.parent.CourseBookingAjax) {
                window.parent.CourseBookingAjax.openModalUrl(url, title, {
                    width: 900,
                    height: 600
                });
            } else if (window.CourseBookingAjax) {
                CourseBookingAjax.openModalUrl(url, title, {
                    width: 900,
                    height: 600
                });
            } else {
                window.location.href = url; // Fallback to direct navigation
            }
        });
        
        // Return to calendar button
        $(".return-to-calendar").on("click", function(e) {
            e.preventDefault();
            
            // If in modal, close it
            if (window.parent && window.parent.$('#courseBookingModal').dialog('instance')) {
                window.parent.$('#courseBookingModal').dialog('close');
                // Refresh calendar data
                if (window.parent.courseCalendar) {
                    window.parent.courseCalendar.loadCalendarData();
                }
            } else {
                window.location.href = '@Url.Action("Index")';
            }
        });
        
        // Modal close button
        $(".modal-close").on("click", function() {
            if (window.parent && window.parent.$('#courseBookingModal').dialog('instance')) {
                window.parent.$('#courseBookingModal').dialog('close');
                // Refresh calendar data in parent window
                if (window.parent.courseCalendar) {
                    window.parent.courseCalendar.loadCalendarData();
                }
            } else if ($('#courseBookingModal').dialog('instance')) {
                $('#courseBookingModal').dialog('close');
            }
        });
    });
    
    // Cancel success callback function
    function onCancelSuccess(response) {
        alert('A foglalást sikeresen lemondta.');
        
        // Close modal if in one
        if (window.parent && window.parent.$('#courseBookingModal').dialog('instance')) {
            window.parent.$('#courseBookingModal').dialog('close');
            // Refresh calendar data
            if (window.parent.courseCalendar) {
                window.parent.courseCalendar.loadCalendarData();
            }
        } else {
            // Navigate to my bookings
            window.location.href = '@Url.Action("MyBookings")';
        }
    }
</script>